@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    position: relative;
}


body {
    overflow-x: hidden !important;
}

.font-mine {
    font-family: "PT Sans Narrow";
}

.font-nunito {
    font-family: "Nunito Sans";
}
.nav-wrapper {
  background: rgba(44, 43, 43, 0.16);
  /* height: 90px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  /* border: 1px solid rgba(255, 255, 255, 0.22); */
}

.mis-vis-wrapper {
  background: rgba(49, 212, 212, 0.16);
  /* height: 90px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  /* border: 1px solid rgba(255, 255, 255, 0.22); */
}