@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    position: relative;
}

body {
    overflow-x: hidden;
}

.container {
    position: absolute;
    bottom: 80px;
    left: 44px;
    text-align: center;
    width: 100%;
}