.section {
    width: 100%;
    height: 100vh;
    /* background-color: #0a97d9; */
}

.wrapper {
    clip-path: circle(1% at 50% 50%);
    overflow: hidden;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    font-family: "PT Sans Narrow";
    background-image: url("https://images.unsplash.com/photo-1556740736-0d7f1f1e8b3f");
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    height: 100vh;
    flex: 1 0 100%;
}

.teal {
    background-color: teal;
}

.purple {
    background-color: blueviolet;
}

.green {
    background-color: #25a206;
}

.orange {
    background-color: #ba4700;
}

.blue {
    background-color: blue;
}